<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a Dram</title>
</head>
<body>
    <%- include("../partials/nav") %>
    <h1>Edit Page</h1>
    <div class="edit-form"></div>
        <form method="POST" action="/whiskies/<%= whisky._id %>/?_method=PUT">
            <div class="img-field">
                <div class="show-img">
                    <img src="<%= whisky.whiskyImg %>" alt="whisky bottle">
                </div>
                <div class="img-input">
                    <label for="whiskyImg">Image:</label>
                    <input type="text" name="whiskyImg" id="whiskyImg" value="<%= whisky.whiskyImg %>"/>
                </div>
            </div>
            <div class="text-field">
                <div class="name-field">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" value="<%= whisky.name %>"/>
                </div>
                <div class="distillery-field">
                    <label for="distillery">Distillery:</label>
                    <input type="text" name="distillery" id="distillery" value="<%= whisky.distillery %>"/>
                </div>
                <div class="typeOfWhisky-field"></div>
                    <label for="typeOfWhisky">Type:</label>
                    <input type="text" name="typeOfWhisky" id="typeOfWhisky" value="<%= whisky.typeOfWhisky %>"/>
                </div>
                <div class="origin"></div>
                    <label for="origin">Origin:</label>
                    <input type="text" name="origin" id="origin" value="<%= whisky.origin %>"/>
                </div>
                <div class="age-field"></div>
                    <label for="age">Age:</label>
                    <input type="text" name="age" id="age" value="<%= whisky.age %>"/>
                </div>
                <div class="proof-field"></div>
                    <label for="proof">Proof:</label>
                    <input type="text" name="proof" id="proof" value="<%= whisky.proof %>"/>
                </div>
                <div class="abv-field"></div>
                    <label for="abv">ABV:</label>
                    <input type="text" name="abv" id="abv" value="<%= whisky.abv %>"/>
                </div>
                <div class="hue-field"></div>
                    <label for="hue">Hue:</label>
                    <input type="text" name="hue" id="hue" value="<%= whisky.hue %>"/>
                </div>
                <div class="flavor-field"></div>
                    <label for="flavor">Flavor:</label>
                    <input type="text" name="flavor" id="flavor" value="<%= whisky.flavor %>"/>
                </div>
            </div>
            <button class="update-form-button" type="submit">Update Entry</button>
        </form>
    </div>
</body>
</html>