<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/edit.css">
    <title>Just a Dram</title>
</head>
<body>
    <header>
        <%- include("../partials/nav") %>
    </header>
    <h1>Edit <%= whisky.name %>:</h1>
    <section class="edit-form">
        <form method="POST" action="/whiskies/<%= whisky._id %>/?_method=PUT">
            <div class="content-section">
                <div class="img-field">
                    <div class="show-img">
                        <img src="<%= whisky.whiskyImg %>" width="250px" height="350px" alt="whisky bottle">
                    </div>
                    <div class="img-input">
                        <label for="whiskyImg">Image:</label>
                        <input type="text" name="whiskyImg" id="whiskyImg" value="<%= whisky.whiskyImg %>" required="true"/>
                    </div>
                </div>
                <div class="text-field">
                    <div class="name-field">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" value="<%= whisky.name %>" required="true"/>
                    </div>
                    <div class="distillery-field">
                        <label for="distillery">Distillery:</label>
                        <input type="text" name="distillery" id="distillery" value="<%= whisky.distillery %>" required="true"/>
                    </div>
                    <div class="whisky-type-field">
                        <label for="typeOfWhisky">Type:</label>
                        <input type="text" name="typeOfWhisky" id="typeOfWhisky" value="<%= whisky.typeOfWhisky %>" required="true"/>
                    </div>
                    <div class="origin">
                        <label for="origin">Origin:</label>
                        <input type="text" name="origin" id="origin" value="<%= whisky.origin %>" required="true"/>
                    </div>
                    <div class="age-field">
                        <label for="age">Age:</label>
                        <input type="text" name="age" id="age" value="<%= whisky.age %>" required="true"/>
                    </div>
                    <div class="proof-field">
                        <label for="proof">Proof:</label>
                        <input type="text" name="proof" id="proof" value="<%= whisky.proof %>" required="true"/>
                    </div>
                    <div class="abv-field">
                        <label for="abv">ABV:</label>
                        <input type="text" name="abv" id="abv" value="<%= whisky.abv %>" required="true"/>
                    </div>
                    <div class="hue-field">
                        <label for="hue">Hue:</label>
                        <input type="text" name="hue" id="hue" value="<%= whisky.hue %>" required="true"/>
                    </div>
                    <div class="flavor-field">
                        <label for="flavor">Flavor:</label>
                        <textarea type="text" name="flavor" id="flavor" row="25" cols="25" maxlength="500" required="true"><%= whisky.flavor %></textarea>
                    </div>
                </div>
            </div>    
            <div class="update-button">
                <button type="submit">Update Entry</button>
            </div>
        </form>
    </section>
</body>
</html>