<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Just a Dram</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <%- include("../partials/nav") %>
        </div>
    </header>
    <section class="all-whiskies">
        <% whiskies.forEach(whisky => { %> 
            <div class="whisky-card">
                <div class="card-img">
                    <a class="card-link" href="/whiskies/<%= whisky._id %>"><img src="<%= whisky.whiskyImg %>"  alt="whisky bottle pic">
                </div>
                <div class="card-text">
                    <p><%= whisky.name %> | <%= whisky.typeOfWhisky %></p>
                </div>
            </div>
        <% }) %>
    </section>
</body>
</html>