<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a Dram</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <%- include("../partials/nav") %>
        </div>
        <div class="delete-edit-buttons">
            <%- include("../partials/deleteEdit") %>
        </div>
    </header>
    <section class="show-whisky">
        <div class="show-img">
            <img src="<%= whisky.whiskyImg %>" alt="whisky bottle">
        </div>
        <div class="show-data">
            <p>Whisky Name: <%= whisky.name %></p>
            <p>Distillery: <%= whisky.distillery %></p>
            <p>Type: <%= whisky.typeOfWhisky %></p>
            <p>Origin: <%= whisky.origin %></p>
            <p>Age: <%= whisky.age %></p>
            <p>Proof <%= whisky.proof %></p>
            <p>ABV: <%= whisky.abv %></p>
            <p>Hue: <%= whisky.hue %></p>
            <p>Flavor Profile: <%= whisky.flavor %></p>
        </div>
    </section>
    <section class="reviews">
        <div class="show-reviews">
            <h2>Reviews</h2>
            <% whisky.reviews.forEach(review => { %> 
                <ul>
                    <li><%= review.review %><br>-<%= review.user %></li>
                </ul>
            <% }) %>
        </div>
        <div class="review-form">
            <h2>Add a Review</h2>
            <form method="POST" action="/whiskies/<%= whisky._id %>/reviews">
                <div class="review-field">
                    <label for="review"></label>
                    <input id="review" type="text" name="review" placeholder="Write your review here."/>
                </div>
                <div class="user-review-field">
                    <label for="user"></label>
                    <input id="user" type="text" name="user" placeholder="Username"/>
                </div>
                <button type="submit">Submit Review</button>
            </form>
        </div>
    </section>
</body>
</html>