<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a Dram</title>
</head>
<body>
    <h1>Show Whisky Page: <%= whisky.name %></h1>
    <section class="show-whisky">
        <div class="show-img">
            <img src="<%= whisky.whiskyImg %>" alt="whisky bottle">
        </div>
        <div class="show-data">
            <p>Distillery: <%= whisky.distillery %></p>
            <p>Type: <%= whisky.typeOfWhisky %></p>
            <p>Country: <%= whisky.country %></p>
            <p>Age: <%= whisky.age %></p>
            <p>Proof <%= whisky.proof %></p>
            <p>ABV: <%= whisky.abv %></p>
            <p>Hue: <%= whisky.hue %></p>
            <p>Flavor Profile: <%= whisky.flavor %></p>
        </div>
    </section>
    <section class="reviews">
        <div class="show-reviews">
            <h2>Reviews</h2>
            <p>Posted reviews will be rendered here.</p>
            <!-- Will Need to Add Code for Rendering Review Data Here  -->
        </div>
        <div class="review-form">
            <h2>Add a Review</h2>
            <p>Review Form Goes Here</p>
            <!-- Will Need to Create a Review Form Here -->
        </div>
    </section>
</body>
</html>